#title {
  font-size: 50px;
  color: blue;
  font-weight: bold;
}

#filter {
  font-size: 25px;
  padding: 10px 14px;
  font-weight: bold;

  border: 2px solid blue;
  background-color: #2b2b2b;
  color: yellow;
}

body {
    font-family: Arial;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

select {
    margin-bottom: 10px;
}

.trend-up {
  color: green;
  font-weight: bold;
}

.trend-down {
  color: red;
  font-weight: bold;
}

.cmp {
  color: black;
  font-weight: bold;
}
