body {
    font-family: Arial;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

select {
    margin-bottom: 10px;
}

.trend-up {
  color: green;
  font-weight: bold;
}

.trend-down {
  color: red;
  font-weight: bold;
}
